{% extends "layout.html" %}

{% block content %}



<div class="jumbotron">
  
        
    <a href="#"><h3> Computational Persuasion Systems</h3></a>
   
     

</div>


<!-- Section: Features v.3 -->
<section class="my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">What we do? </h2>
        <!-- Section description -->
        <p class="lead grey-text text-center w-responsive mx-auto mb-5">We are investigating whether it is possible to incorporate elements of persuasion engineering into computer systems.
        Our endevenour is to utilise Artificial intelligence as a means of persuading people to undertake partivculat measures or decisions relating to their life styles  One can imagine that a person could interact with an app whose underlying argumentation framework and persuasion techniques would be useful in helping people make positive changes to their lives. 
      
        <!-- Grid row -->
        <div class="row">
      
          <!-- Grid column -->
          <div class="col-lg-5 text-center text-lg-left">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image">
          </div>
          <!-- Grid column -->
      
          <!-- Grid column -->
          <div class="col-lg-7">
      
            <!-- Grid row -->
            <div class="row mb-3">
      
              <!-- Grid column -->
              <div class="col-1">
                <i class="fa fa-mail-forward fa-lg indigo-text"></i>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-xl-10 col-md-11 col-10">
                <h5 class="font-weight-bold mb-3">How mathematical reasoning is inseparable from persuasion? </h5>
                <p class="grey-text">Philosophy is written in this grand book- the universe but the book cannot be understood unless one first learns to comprehend the language and to read the alphabet in which is composed. It is written in the language  of mathematics
                        <button type="button" class="btn btn-link">Read more.</button></p>
              </div>
              <!-- Grid column -->
      
            </div>
            <!-- Grid row -->
      
            <!-- Grid row -->
            <div class="row mb-3">
      
              <!-- Grid column -->
              <div class="col-1">
                <i class="fa fa-mail-forward fa-lg indigo-text"></i>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-xl-10 col-md-11 col-10">
                <h5 class="font-weight-bold mb-3">What is argumentation theory and Machine Learning?</h5>
                <p class="grey-text">Argumentation theory, or argumentation, is the interdisciplinary study of how conclusions can be reached through logical reasoning;It includes the arts and sciences of civil debate, dialogue, conversation, and persuasion.<button type="button" class="btn btn-link">Read more.</button></p></p>
              </div>
              <!-- Grid column -->
      
            </div>
            <!-- Grid row -->
      
            <!--Grid row-->
            <div class="row">
      
              <!-- Grid column -->
              <div class="col-1">
                <i class="fa fa-mail-forward fa-lg indigo-text"></i>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-xl-10 col-md-11 col-10">
                <h5 class="font-weight-bold mb-3">Artificial Inteligence and language</h5>
                <p class="grey-text mb-0">Multi-Agent systems are learning to reason and process language as human do <button type="button" class="btn btn-link">Read more.</button></p></p>
              </div>
              <!-- Grid column -->
      
            </div>
            <!--Grid row-->
      
          </div>
          <!--Grid column-->
      
        </div>
        <!-- Grid row -->
      
      </section>
      <!-- Section: Features v.3 -->




{% endblock %}
