{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<!-- Page Content -->
<div class="container">

        <!-- Introduction Row -->
        
        </h1>
        <p>Persuasion is an activity that involves one party trying to induce another party to believe something or to do something. An effective way of implementing persuasion is through argumentation, where a party provides convincing arguments in favour or against a decision, and arguments are evaluated against each other considering the available evidence in a non-monotonic fashion.

                For example, for a doctor to persuade a patient to follow a treatment, the doctor has to give good arguments why it is better for the patient to do so, considering patient inclination, age and general health status.
                
                The research aims to develop an automated persuasion system, able to interact with users on specific domains. An automated persuasion system is a machine that can engage in a dialogue with a user (the persuadee) in order to persuade her/him to do (or not do) some action or to believe (or not believe) something. Our research question is the following: how efficiently can such a system persuade human users in some target domains?</p>
        <!-- Team Members Row -->
        <div class="row">
          <div class="col-lg-12">
            <h2 class="my-4">People</h2>
          </div>
          <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>Dr.Pierpaolo Dondio
              <small>Lecturer pierpaolo.dondio@dit.ie </small>
            </h3>
          </div>
          <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3> Pietro Baroni
              <small>Professor. pietro.baroni@unibs.it</small>
            </h3>
          </div>
          <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3> Massimiliano Giacomin
              <small>Professor.  giacomin@unibs.it</small>
            </h3>
         
          </div>
        </div>
      
      </div>
      <!-- /.container -->

      



{% endblock %}
