{% extends "layout.html" %}

{% block content %}




<div class="jumbotron">
  
    <style>
        .jumbotron { 
          background-color:#262626; /* Orange */
          color: #ffffff;
        }
       
  
    </style>
    <body>
      <br>
      <br>
    <br>
    <br>
      <center>
      <strong>
        <h1>
         
     

    <h1 id="demo" onmouseover="mouseOver()" onmouseout="mouseOut()">Welcome</h1>


<script>
function mouseOver() {
  document.getElementById("demo").style.color = "red";
}

function mouseOut() {
  document.getElementById("demo").style.color = "black";
}
</script>

</body>
    <script>
    function mouseOver() {
      document.getElementById("demo").style.color = "red";
    }
    
    function mouseOut() {
      document.getElementById("demo").style.color = "White";
    }
    </script>
    
    </body>





    </body>
    <hr class="my-4">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  
  
    <p class="lead">
      
    </p>
  </div>

{% endblock %}
