{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Please  give us some details.</p>




    <!-- Main Content -->
    <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <form name="addForm" id="addForm" method="POST" action="{{ url_for('questionary') }}" novalidate>
                  <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                      <label>Name</label>
                      <input type="text" class="form-control" placeholder="name" name="Name" id="name" required data-validation-required-message="Please enter your Name.">
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                      <label>nationality</label>
                      <input type="text" class="form-control" placeholder="nationality" name="nationality" id="nationality" required data-validation-required-message="Please enter your nationality\.">
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                      <label>gender</label>
                      <input type="text" class="form-control" placeholder="gender" name="gender" id="gender" required data-validation-required-message="Please enter your gender.">
                      <p class="help-block text-danger"></p>
                    </div>

                  <div class="control-group">
                      <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Age</label>
                        <input type="text" class="form-control" placeholder="age" name="age" id="age" required data-validation-required-message="Please enter your age.">
                        <p class="help-block text-danger"></p>
                      </div>
                  </div>
                 
                  <br>
                  <div id="success"></div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-secondary" id="sendMessageButton">Send</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
      
{% endblock %}